body{
    background-color: #1c3441;
}

.logo{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 10px;

}
.container{
    max-width: 900px;
    background-color: #550c0c;
    color: white;
    margin: auto;
    height: 80vh;
    border-radius: 10px;
    overflow-y: auto;
}
.message
{
    background-color: #4316e5;
    color: white;
    padding:10px;
    margin: 17px 12px;
    border: 2px solid   black;
    border-radius: 10px;

}

.left
{
    float: left;
    clear: both;

}
.right{
float: right;
clear: both;
}
.send
{
    width: 100%;
}
#messageinp
{
    margin-left: 240px;
    margin-top: 3px;
    width: 56vw;
    height: 28px;
    border-radius: 5px;
}
.btn{
    height:30px;
    width:100px;
    cursor: pointer;

}

